body.drawing_theme {
  background-image: none; }
  body.drawing_theme .site_header {
    border-bottom: none; }
    body.drawing_theme .site_header .theme-selector:before {
      color: #323232; }
  body.drawing_theme span.visualization {
    color: #000000; }
  body.drawing_theme span.cartoon {
    color: #000000; }
  body.drawing_theme span.programming {
    color: #000000; }
  body.drawing_theme span.social {
    color: #000000; }
  body.drawing_theme span.diy {
    color: #000000; }
  body.drawing_theme .icon.selector:before {
    color: #000000; }
  body.drawing_theme .icon-visualization:before {
    color: #000000;
    content: '\e80d'; }
  body.drawing_theme .icon-cartoon:before {
    color: #000000;
    content: '\e863'; }
  body.drawing_theme .icon-programming:before {
    color: #000000;
    content: '\e846'; }
  body.drawing_theme .icon-social:before {
    color: #000000;
    content: '\e828'; }
  body.drawing_theme .icon-diy:before {
    color: #000000;
    content: '\e861'; }
  body.drawing_theme .icon-deselect:before {
    color: rgba(0, 0, 0, 0.58); }
  body.drawing_theme .paper {
    background-image: url("/images/drawing_theme/paper.png"); }
  body.drawing_theme #post_backdrop {
    background-color: rgba(255, 255, 255, 0.95); }
  body.drawing_theme #post_container .content {
    background-image: none;
    background-color: #ffffff; }
  body.drawing_theme #post_container .left, body.drawing_theme #post_container .right {
    display: none; }
