body.drawing_theme {
  background-image: none;

  .site_header {
    border-bottom: none;

    .theme-selector:before {
      color: #323232;
    }
  }

  span.visualization {
    color: #000000;
  }

  span.cartoon {
    color: #000000;
  }

  span.programming {
    color: #000000;
  }

  span.social {
    color: #000000;
  }

  span.diy {
    color: #000000;
  }

  .icon.selector:before {
    color: #000000;
  }

  .icon-visualization:before {
    color: #000000;
    content: '\e80d';
  }

  .icon-cartoon:before {
    color: #000000;
    content: '\e863';
  }

  .icon-programming:before {
    color: #000000;
    content: '\e846';
  }

  .icon-social:before {
    color: #000000;
    content: '\e828';
  }

  .icon-diy:before {
    color: #000000;
    content: '\e861';
  }

  .icon-deselect:before {
    color: rgba(0, 0, 0, 0.58);
  }
    .paper {
    background-image: url("/images/drawing_theme/paper.png");
  }

  #post_backdrop {
    background-color: rgba(255, 255, 255, 0.95);
  }

  #post_container {
    .content {
      background-image: none;
      background-color: #ffffff;
    }

    .left, .right {
      display: none;
    }
  }
}