/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFF;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
    font-family: "verdana";
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    font-size: 20px;
}

p {
    margin: 1em 0;
}

a {
    color: #4c8844;
    text-decoration: underline;
}

a:hover {
    color: #67b85c;
}

a:visited {
    color: #4c8844;
}

/*****************************************************************************/
/*
/* Rest
/*
/*****************************************************************************/

@font-face {
    font-family: title;
    src: url("/fonts/daniel.ttf");
}

body {
    background-image: url("/images/debut_dark.png");
    font-size: 14px;
}

h1.title {
    font-family: title;
    font-size: 32px;
    text-align: left;
    color: #4c8844;
    position: fixed;
    top: 200px;
    left: -150px;
    -webkit-transform: rotate(-89deg);;
    -moz-transform: rotate(-89deg);;
    -ms-transform: rotate(-89deg);;
    -o-transform: rotate(-89deg);;
    transform: rotate(-89deg);;
}

span.visualization {
    color: #996882;
}

span.cartoon {
    color: #325e99;
}

span.programming {
    color: #369b3a;
}

span.social {
    color: #BC6D0C;
}

span.diy {
    color: #bcb61b;
}

.icon {
    font-size: 36px;
    color: #FFFFFF;
}

.icon.selector:hover {
    cursor: pointer;
    font-size: 40px;
}

.icon.selector:before {
    color: #EFEFEF;
}

.icon-deselect:before {
    color: rgba(239, 239, 239, 0.58);
    content: '\e85e';
}

.icon-deselect:hover {
    cursor: pointer;
    font-size: 40px;
}

.icon-visualization:before {
    /*text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff;*/
    color: #996882;
    content: '\e80d';
}

.icon-cartoon:before {
    color: #325e99;
    content: '\e863';
}

.icon-programming:before {
    color: #369b3a;
    content: '\e846';
}

.icon-social:before {
    color: #bc6d0c;
    content: '\e828';
}

.icon-diy:before {
    color: #bcb61b;
    content: '\e861';
}
