svg {
    width: 100%;
    height: 75px;
}

.xaxis text {
    font-size: 10px;
}

.xaxis line {
    fill: none;
    stroke: black;
}

.xaxis path {
    display: none;
}

.legend {
    font-size: 14px;
    text-align: center;
}

.legend .item {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 3px;
    color: white;
}